<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
</head>

<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each producto}}
        <li>{{this.productTitle}}, {{this.Description}}, {{this.price}}, {{this.stcoke}}</li>
    </ul>
    <p>Página actual: {{currentPage}} / {{totalPages}}</p>
    {{#if currentPage > 1}}
    <a href="/products?page={{currentPage - 1}}">Anterior</a>
    {{/if}}
    {{#if currentPage < totalPages}} <a href="/products?page={{currentPage + 1}}">Siguiente</a>
        {{/if}}
</body>

</html>